Repository NOAA-EMC/GDASApp, pull requests merged in 2025-06, with the labels that each got.

#1723 Feature/b2i dbuoyb drifter
  test/marine/CMakeLists.txt
  test/marine/testinput/bufr2ioda_insitu_surface_dbuoyb_drifter_2019010700.yaml.in
  test/marine/testref/bufr2ioda_insitu_surface_dbuoyb_drifter_2019010700.ref
  ush/ioda/bufr2ioda/marine/b2i/bufr2ioda_insitu_surface_dbuoyb_drifter.py
  ush/ioda/bufr2ioda/marine/b2i/dbuoyb_drifter_ioda_variables.py
Labels: hera-GW-RT-Passed

#1751 Add ctests for the soca apps
  utils/profiling/oops_stats.txt
  utils/soca/CMakeLists.txt
  utils/soca/gdas_incr_handler.h
  utils/soca/test/CMakeLists.txt
  utils/soca/test/generate_soca_resources.py
  utils/soca/test/testdata/grid_spec.cdl
  utils/soca/test/testdata/ice.cdl
  utils/soca/test/testdata/ocean_mosaic.cdl
  utils/soca/test/testdata/ocn.cdl
  utils/soca/test/testdata/soca_gridspec.cdl
  utils/soca/test/testinput/gdas_ens_handler.yaml
  utils/soca/test/testinput/gdas_incr_handler.yaml
  utils/soca/test/testinput/gdas_soca_diagb.yaml
  utils/soca/test/testinput/gdas_soca_setcorscales.yaml
  utils/soca/test/testinput/gdas_socahybridweights.yaml
Labels: hera-GW-RT-Passed

#1747 Update the marine obs list and obsprep config
  parm/ioda/bufr2ioda/bufr2ioda_insitu_profile_tropical.json
  parm/ioda/bufr2ioda/bufr2ioda_insitu_surface_dbuoyb.yaml
  parm/ioda/bufr2ioda/bufr2ioda_insitu_surface_dbuoyb_drifter.yaml
  parm/ioda/bufr2ioda/bufr2ioda_insitu_surface_drifter.json
  parm/soca/obs/obs_list.yaml.j2
  parm/soca/obsprep/obsprep_config.yaml
Labels: soca, gfsv17

#1684 Update GDASApp to spack-stack/1.9.2
  modulefiles/GDAS/gaeac6.intel.lua
  modulefiles/GDAS/hera.intel.lua
  modulefiles/GDAS/hercules.intel.lua
  modulefiles/GDAS/orion.intel.lua
  modulefiles/GDAS/ursa.intel.lua
  test/atm/global-workflow/jjob_ens_letkf.sh
  test/atm/global-workflow/jjob_var_run.sh
Labels: hera-GW-RT-Passed

#1770 Copy var.yaml to COMROOT
  parm/soca/soca_det_finalize.yaml.j2
Labels: bug, soca, gfsv17
